<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feedback</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>FEEDBACK LIST</h1>
    <a href="/home" th:href="@{/home}">Go to menu</a><br>
    Fount <span th:text="${countFeedbacks}"></span> feedbacks<br>
    <table class="table table-striped">
        <tr>
            <th>Author feedback</th>
            <th>Text</th>
            <th>Date</th>
            <th>Show</th>
            <th>Delete</th>
        </tr>
        <tr th:each="feedback : ${feedbacks}">
            <td th:text="
            ${feedback.userDTO.surname}+' '
            +${feedback.userDTO.name}+' '
            +${feedback.userDTO.middleName}"></td>
            <td th:text="${feedback.content}"></td>
            <td th:text="${feedback.date}"></td>
            <td>
                <div style="text-align: center;" th:if="${feedback.visible}">
                    <input class="form-check-input" type="checkbox" name="feedbackIds"
                           th:value="${feedback.id}" checked>
                </div>
                <div style="text-align: center;" th:unless="${feedback.visible}">
                    <input class="form-check-input" type="checkbox" name="feedbackIds"
                           th:value="${feedback.id}">
                </div>
            </td>
            <td>
                <div style="text-align: center;">
                    <form action="#" method="post" th:action="@{/feedbacks/delete}">
                        <input type="hidden" name="feedbackId" th:value="${feedback.id}">
                        <button class="btn btn-primary" type="submit">delete</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <div class="col">
        <div>
            <div th:if="(${countFeedbacks}-${page}*10)>0">
                <form action="#" method="get" th:action="@{/feedbacks}">
                    <input type="hidden" name="page" th:value="${page}+1">
                    <button class="btn btn-primary" type="submit">Next page</button>
                </form>
            </div>
            <br>
            <div th:if="${page}>1">
                <form action="#" method="get" th:action="@{/feedbacks}">
                    <input type="hidden" name="page" th:value="${page}-1">
                    <button class="btn btn-primary" type="submit">Previous page</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>
