<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item details</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>ITEM DETAILS</h1>
    <a href="#" th:href="@{/items}">Go to items list</a><br>
    <table class="table">
        <tr>
            <th>Name:</th>
            <th th:text="${item.name}"></th>
        </tr>
        <tr>
            <th>Unique number:</th>
            <th th:text="${item.uniqueNumber}"></th>
        </tr>
        <tr>
            <th>Price:</th>
            <th th:text="${item.price}"></th>
        </tr>
        <tr>
            <th>Description:</th>
            <th th:text="${item.description}"></th>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>
