<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page new article</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>ADD NEW ARTICLE</h1>
    <a href="#" th:href="@{/home}">Go to menu</a>
    <div class="row">
        <div class="col">
            <form action="#" method="post" th:action="@{/news/update}" th:object="${news}">
                <div class="form-group">

                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span><br>
                    <label for="date">Date:</label>
                    <input class="form-control" th:field="*{date}" name="date" id="date" type="date" disabled required>

                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
                    <label for="title">Title:</label>
                    <input class="form-control" th:field="*{title}" name="title" id="title" type="text"
                           th:value="*{title}"
                           pattern="^[a-zA-Z0-9]+$" maxlength="100" required>
                    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br>
                    <label for="content">Content:</label>
                    <textarea class="form-control" id="content" th:field="*{content}" rows="3"
                              maxlength="1000" required th:value="*{content}"></textarea>
                    <input name="id" id="id" type="text" th:value="*{id}" hidden>
                </div>
                <button class="btn btn-primary" type="submit">save change</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>
