<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.springframework.org/security/tags" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page news</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>NEWS LIST</h1>
    <a href="/home" th:href="@{/home}">Go to menu</a><br>
    Fount <span th:text="${countNews}"></span> news<br>
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Name Surname</th>
            <th>Description</th>
            <th>full text</th>
            <th sec:authorize="hasRole('SALE_USER')">delete</th>

        </tr>
        <tr th:each="news : ${newsList}">
            <td th:text="${news.date}"></td>
            <td th:text="${news.title}"></td>
            <td th:text="${news.userDTO.name}+' '+${news.userDTO.surname}"></td>
            <td th:text="${news.description}"></td>
            <td>
                <div style="text-align: center;">
                    <a th:href="@{/news/{id}(id=${news.id})}">more details</a>
                </div>
            </td>
            <td sec:authorize="hasRole('SALE_USER')">
                <form action="#" method="post" th:action="@{/news/delete}">
                    <input type="hidden" name="newsId" th:value="${news.id}">
                    <button class="btn btn-primary" type="submit">delete</button>
                </form>
            </td>
        </tr>
    </table>
    <div class="col">
        <div>
            <div th:if="(${countNews}-${page}*10)>0">
                <form action="#" method="get" th:action="@{/news}">
                    <input type="hidden" name="page" th:value="${page}+1">
                    <button class="btn btn-primary" type="submit">Next page</button>
                </form>
            </div>
            <br>
            <div th:if="${page}>1">
                <form action="#" method="get" th:action="@{/news}">
                    <input type="hidden" name="page" th:value="${page}-1">
                    <button class="btn btn-primary" type="submit">Previous page</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>
